.wrapper {
    width: 180px;
    padding: 10px;
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: #FFF;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(100%) translateX(calc(-100% + 30px));
    width: 200px;

    .item {
        padding: 5px;
        display: flex;
        align-items: center;
        transition: all .3s ease;
        border-radius: 8px;
        cursor: pointer;

        &:last-child {
            margin-bottom: 0;
        }

        &:hover {
            background-color: var(--light_purp_1);
            color: var(--violet);
        }

        .icon {
            font-size: 20px;
            line-height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #888888;
            margin-right: 5px;
            flex: 0 0 auto;
            // transition: all .3s ease;
        }

        .label {
            font-size: 15px;
            line-height: 23px;
            // transition: all .3s ease;
        }
    }
}