.wrapper {

    .ex {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .item {
            color: var(--violet);
            transition: all .3s ease;

            &:hover {
                color: var(--purp);
            }
        }
    }
}