.wrapper {
    padding: 15px;
    border-radius: 20px;
    background-color: #fff;
    margin-left: -4px;
    margin-right: -4px;
    display: flex;
    overflow-x: auto;
    margin-left: -5px;
    margin-right: -5px;
    

    .item {
        margin: 0 5px;
        width: 130px;
        height: 130px;
        flex: 0 0 auto;
        display: block;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: flex;
        }
    }
    
    .add {
        width: 130px;
        height: 130px;
        flex: 0 0 auto;
        margin: 0 5px;

        input {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            pointer-events: none;
            touch-action: none;
            visibility: hidden;
        }


        .label {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 130px;
            height: 130px;
            background-color: #F2F2F2;
            border-radius: 8px;
            color: var(--violet);
            font-size: 50px;
            line-height: 50px;
            cursor: pointer;
            margin: 0 4px;
            flex: 0 0 auto;

            .icon {
                display: flex;
                align-items: center;
                justify-content: center;
                line-height: 100%;
            }

            .text {
                text-align: center;font-size: 15px;
                line-height: 140%;
                margin-top: 5px;
            }
        }
    }
}

@media (max-width: 768px) {
    .wrapper {
        margin-left: -2px;
        margin-right: -2px;
        padding: 5px;
        .item {
            width: 80px;
            height: 80px;
            margin: 0 2px;
        }

        .add {
            margin: 0 2px;
            width: 80px;
            height: 80px;
            .label {
                width: 80px;
                height: 80px;
                font-size: 25px;
                line-height: 25px;

                .icon {
                    
                }
    
                .text {
                    font-size: 10px;
                    line-height: 120%;
                }
            }
        }
    }
}