.wrapper {
    width: 235px;
    flex: 0 0 auto;
    // min-height: 426px;
    margin-right: 18px;

    .in {
        background-color: #fff;
        border-radius: 10px;
        height: 100%;
        padding: 13px;
        width: 235px;
    }
}

@media (max-width: 768px) {
    .wrapper {
        position: fixed;    
        width: 100%;
        bottom: 0;
        left: 0;
        height: calc(100vh - 42px);
        transform: translateX(-100%);
        z-index: 1000;
        border-radius: 0;
        transition: all .3s ease;

        .in {
            width: 250px;
        }
    }

    .wrapper.active {
        transform: translateX(0);
    }
}