.wrapper {
    min-height: 60px;
    border-radius: 9px;
    background-color: var(--light_purp_1);
    padding: 5px 10px;
    
    

    .body {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: -10px;
        margin-right: -10px;
        flex-wrap: wrap;
    }

    .part {
        margin: 0 10px;
        // overflow-x: auto;
    }
}

@media (max-width: 1000px) {
    .wrapper {
   
        .body {
            margin-left: 0;
            margin-right: 0;
        }
        .part {
            width: 100%;
            margin: 0;
            overflow-x: auto;
            

            &:last-child {
                order: -1;


            }
        }
    }
}

@media (max-width: 768px) {
    .wrapper {
        border-radius: 0;
    }
}