.hero {
    min-height: calc(100vh - 75px);
    background-image: url('../../../../public/assets/images/hero-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    // align-items: center;
    
    .inner {
        padding: 40px 0;
        position: relative;
        height: 100%;

        .main {
            position: relative;
            z-index: 3;

            .title {
                font-size: 60px;
                line-height: 60px;
                font-weight: 600;
                max-width: 1000px;

                span {
                    font-size: 40px;
                    line-height: 56px;

                }
            }

            .subtitle {
                font-size: 24px;
                line-height: 34px;
                font-weight: 500;margin-top: 15px;
                margin-bottom: 24px;

                
            }

            .adv {
                margin-bottom: 35px;
                ul {
                    // padding-left: 25px;
                    li {
                        position: relative;
                        padding-left: 35px;
                        
                        &:after {
                            position: absolute;
                            top: calc(50% - 8px);
                            left: 0;
                            width: 16px;
                            height: 16px;
                            border-radius: 100%;
                            content: '';
                            background-image: url('../../../../public/assets/icons/check.png');
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: contain;
                        }
                        
                        // list-style: disc;
                    }
                }
            }

        }

        .motion {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            

            

            .phones {
                max-width: 580px;
                width: 100%;
                height: 600px;
                position: relative;


                .cloud {
                    position: absolute;
                    // top: 0;
                    // left: 0;
                }

                .cloud_1 {
                    top: 10px;
                    left: 0;
                }

                .cloud_2 {
                    top: 0;
                    left: 20px;
                }

                .cloud_3 {
                    top: 20px;
                    right: 35px;
                }

                .cloud_4 {
                    top: 0;
                    right: 0;
                }

                .cloud_5 {
                    bottom: -40px;
                    right: 20px;
                }

                .cloud_6 {
                    bottom: 0;
                    right: 30%;
             
                }

                .cloud_7 {
                    left: 25%;
                    bottom: 50px;
                }

                .cloud_8 {
                    left: 0;
                    bottom: 0;
                }

                .hero_stars {
                    position: absolute;
                    left: -100px;
                    bottom: 200px;
                }

                .hero_stars_2 {
                    position: absolute;
                    top: 10%;
                    right: 0;
                }

                .arrow_1 {
                    position: absolute;
                    top: 10%;
                    right: 45%;
                }
                .arrow_2 {
                    position: absolute;
                    bottom: 10%;
                    right: 45%;
                }

                .heart_2 {
                    position: absolute;
                    bottom: 25%;
                    right: 40%;
                }

                .item {
                    position: absolute;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        display: flex;
                    }
                }
                .item.item_1 {
                    top: 0;
                    left: 0;
                }
                .item.item_2 {
                    bottom: 0;
                    right: 0;
                }
            }
        }

        .action {
            display: none;
        }
    }
}

@media (max-width: 768px) {

    .hero {

        .inner {
            padding-bottom: 100px;

            .main {
                margin-bottom: 30px;
                .title {
                    font-size: 24px;
                    line-height: 33px;

                    span {
                        font-size: 16px;
                        line-height: 22px;
                    }
                }

                .subtitle {
                    font-size: 12px;
                    line-height: 140%;
                    margin-bottom: 20px;
                }

                .selects {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .adv {
                    font-size: 16px;
                    line-height: 22px;
                }

            }

            .motion {
                position: static;
                height: auto;
                justify-content: center;

                .phones {
                    height: 300px;
                    max-width: 300px;
                    .item {
                        height: 200px;
                        width: 50%;

                        &:first-child {

                        }

                        &:last-child {
                            right: 20px;
                        }

                        img {
                            object-fit: contain;
                        }
                    }
                }
            }

            .action {
                display: block;
                max-width: 150px;
                margin: 0 auto;
                width: 100%;

            }
        }
    }
}