.wrapper {

    .body {
        display: flex;
        flex-wrap: wrap;
    }
    .card {
        width: calc((100% / 5) - 20px);
        margin: 0 10px 20px 10px;
    }
    .item {
        height: 322px;
        border-radius: 12px;
        background-color: var(--light_purp_1);
        animation: sk-anim 1s linear infinite;
    }
}

@keyframes sk-anim {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}