.wrapper {
    width: 100%;
    // display: flex;
    // align-items: center;
    
    .label {
        margin-bottom: 8px;
        font-size: 18px;
        line-height: 23px;
    }


    
}

.wrapper.nonlabel {
    display: flex;
    align-items: center;
}