.wrapper {
    // background-image: url('../../../../public/assets/images/faq-bg.png');
    // background-repeat: no-repeat;
    // background-position: bottom;
    // background-size: 100%;
    background-color: #fff;
    position: relative;
    overflow: visible;

    .bg {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        // height: 100%;
        max-height: 450px;
        overflow: hidden;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .inner {
        padding: 0 0 120px 0;
        position: relative;
        z-index: 2;

        .body {
            max-width: 820px;
            width: 100%;
            margin: 0 auto;

            .item {
                margin-bottom: 12px;

            }
        }

    }
}