.wrapper {
    width: 100%;
    background-color: #fff;
    padding: 42px 55px;
    border-radius: 10px;

    

    .in {
        display: flex;
        margin-left: -15px;
        margin-right: -15px;
        overflow: hidden;
        display: flex;
    }
    .item {
        width: calc((100% / 3) - 30px);
        margin: 0 15px;
    }

    .body {
        margin-top: 20px;
        // .load {
        //     margin-top: 20px;
        //     display: flex;
        //     align-items: center;
        //     justify-content: center;
        //     width: 100%;
        // }
    }
}

@media (max-width: 1200px) {
    .wrapper {
        padding: 0;
        background-color: unset;
        
        .in {
            flex-wrap: wrap;

            .item {
                width: calc(100% - 30px);
                margin-bottom: 10px;
            }
        }
    }
}