.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    position: relative;

    .verified {
        position: absolute;
        width: 18px;
        height: 18px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 1px 1px 10px rgba(83, 16, 173, 0.12);
        color: var(--violet);
        font-size: 14px;
        line-height: 100%;
        background-color: #fff;
        bottom: 0;
        right: 0;
    }
    .in {
        overflow: hidden;
        border-radius: 8px;

        img {
            object-fit: cover;
            display: flex;
        }

        
    }
}

.wrapper.round {
    .in {
        border-radius: 100%;

    }
}