.wrapper {
    
    .in {
        padding: 30px 0;

        display: flex;
        align-items: flex-start;
        margin-left: -5px;
        margin-right: -5px;
        // border: 1px solid red;

        .top_action {
            display: none;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 15px;
            width: 100%;

            .item {
                margin: 0 3px;
                display: flex;
                align-items: center;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                letter-spacing: 0.05em;
                text-transform: uppercase;
                cursor: pointer;
                color: var(--violet);
                transition: all .3s ease;
    
                &:hover {
                    color: var(--purp);
                }
    
                &:active {
                    transform: scale(0.95);
                }
    
                &:last-child {
                    margin-right: 0;
                }
    
                .icon {
                    flex: 0 0 auto;
                    margin-right: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    line-height: 100%;
                }
    
                .text {
    
                }
            }
        }

        .main {
            width: 300px;
            margin: 0 5px;
            background-color: #fff;
            padding: 15px;
            border-radius: 10px;
            flex: 0 0 auto;

            .slider {
                position: relative;

                .photo_count {
                    padding-right: 5px;
                    min-width: 45px;
                    height: 18px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #fff;
                    margin-right: 4px;
                    border-radius: 0 8px 8px 0;
                    color: var(--violet);
                    font-size: 15px;
                    line-height: 15px;
                    position: absolute;
                    font-weight: 500;
                    top: 10px;
                    left: 0;
                    z-index: 3;
                    
                    svg {
                        margin-right: 5px;
                    }
            
                }

                .slider_item {
                    border-radius: 10px;
                    overflow: hidden;
                    height: 270px;

                    .item {
                        width: 100%;
                        height: 100%;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        display: flex;
                    }
                }
            }

            .thumbs {
                margin-top: 15px;
                position: relative;

                .thumbs_item {
                    height: 80px;
                    border-radius: 10px;
                    overflow: hidden;
                    border: 3px solid transparent;
                    transition: all .2s ease;
                    cursor: pointer;

                    &:hover {
                        border-color: rgba(#CF6AE0, .4);
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        display: flex;
                    }
                }


                .nav {
                    position: absolute;
                    width: 30px;
                    height: 30px;
                    border-radius: 100%;
                    background-color: var(--violet);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    z-index: 3;
                    cursor: pointer;
                    color: #fff;
                }

                .nav.prev {
                    top: calc(50% - 15px);
                    left: -15px;
                }

                .nav.next { 
                    top: calc(50% - 15px);
                    right: -15px;
                }

            }
        }
    
        .body {
            margin: 0 5px;
            width: 100%;
            overflow: hidden;

            .body_action {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 15px;

                .item {
                    margin: 0 3px;
                    display: flex;
                    align-items: center;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                    letter-spacing: 0.05em;
                    text-transform: uppercase;
                    cursor: pointer;
                    color: var(--violet);
                    transition: all .3s ease;
        
                    &:hover {
                        color: var(--purp);
                    }
        
                    &:active {
                        transform: scale(0.95);
                    }
        
                    &:last-child {
                        margin-right: 0;
                    }
        
                    .icon {
                        flex: 0 0 auto;
                        margin-right: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        line-height: 100%;
                    }
        
                    .text {
        
                    }
                }
            }  
            

            .body_main {
                background-color: #fff;
                border-radius: 10px;
                padding: 15px;
                overflow: hidden;
            }

            .user { 
                display: flex;
                align-items: center;
                overflow: hidden;
                
            }

            .part {
                .label {
                    font-size: 16px;
                    line-height: 140%;
                    font-weight: 500;
                    color: #888888;
                    // margin-bottom: 5px;
                }
                .value {
                    font-size: 18px;
                    line-height: 150%;

                }
            }

            // .action {
            //     display: flex;
            //     align-items: center;
            //     justify-content: center;
            // }
        }
    }

    .action {
        display: flex;
        align-items: center;
        justify-content: center;
        
        .action_item {
            margin: 0 10px;
        }
    }
}

@media (max-width: 768px) {
    .wrapper {
        .in {
            padding-bottom: 0;
            flex-wrap: wrap;

            .top_action {
                display: flex;
            }

            .main {
                width: 100%;
                margin: 0;
                margin-bottom: 10px;

            }

            .body {
                width: 100%;
                margin: 0;

                .body_action {
                    display: none;
                }
            }
        }

        .action {
            margin-top: 20px;
            flex-wrap: wrap;
            .action_item {
                width: 100%;
                margin-bottom: 10px;
                    
                button {
                    width: 100%;
                }
            }
        }

    }
}