.wrapper {
    border: 2px solid rgba(#000, .1);
    border-radius: 20px;
    padding: 20px;

    .head {
        text-align: center;
        margin-bottom: 25px;
        
        .title {
            font-size: 22px;
            line-height: 23px;
            color: #353535;
            margin-bottom: 5px;
        }
        .subtitle {
            opacity: .5;
            font-size: 18px;
            line-height: 23px;
        }
    }
}