.wrapper {
    padding: 12px 25px;
    background-image: url('../../../../public/assets/images/chat-promo-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 83px;

    .label {
        color: #fff;
        font-weight: 500;
        font-size: 15px;
        line-height: 23px;
    }

    .action {

    }
}