.wrapper {
    height: calc(100vh - 165px - 75px - 50px);
    // border: 1px solid red;

    .empty {
        text-align: center;font-size: 18px;
        line-height: 23px;
        padding: 15px 10px;
    }

    .loader {
        padding: 15px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width: 768px) {
    .wrapper {
        height: calc(100vh - 60px - 42px);
    }
}