.wrapper {
    display: flex;
    overflow: hidden;
    
    
    
    .sidebar {
        width: 300px;
        flex: 0 0 auto;
        position: relative;

        .search {
            padding: 5px;
        }
    }

    .main {
        width: 100%;
        position: relative;
        
        .body {   
            padding-top: 40px;
            position: relative;
            overflow-y: auto;
            
            .body_wr {
                display: flex;
                justify-content: flex-end;
                height: 100%;
                overflow: visible;
            }

            .body_action {
                padding: 0 5px;
                position: absolute;
                top: 0; 
                right: 0;
                height: 40px;
                width: 100%;
                // border: 1px solid red;
                z-index: 3;
                display: flex;
                align-items: center;
                justify-content: flex-end;
              

                .body_action_item {
                    margin: 0 2px;
                }

                .info {
                    
                }
            }
        }   

        .mail {
            align-items: flex-start;
            display: flex;
        }

        .action {

        }
    }
}


@media (max-width: 768px) {
    .wrapper {

        .bc {
            height: 42px;
            background: #F3F3F3;
            display: flex;
            align-items: center;
            justify-content: center;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            padding: 0 50px;
            z-index: 10;

            

            .back {
                position: absolute;
                top: calc(50% - 15px);
                left: 15px;
            }

            .main {
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 600;
                font-size: 16px;
                line-height: 21px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                
                

                .body {

                    .body_wr {
                        padding-bottom: 100px;
                    }
                }
            }

            .avatar {
                position: absolute;
                top: calc(50% - 15px);
                right: 15px;
            }
        }

        .main {
            display: flex;
            flex-direction: column;
            
            .body {
                // border: 1px solid green;

                .body_action {
                    top: 45px;            
                }
            }
        }

        .sidebar {
            width: 100%;
            padding-bottom: 60px;
        }
    }
}