.wrapper {
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;

    .part {
        padding-bottom: 12px;
        border-bottom: 2px solid var(--light_purp_1);

        .label {
            display: inline-flex;
            align-items: center;
            color: var(--gray);
            font-size: 18px;
            line-height: 23px;
            
            button {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 20px;
                line-height: 20px;
                margin-bottom: 5px;
                color: var(--gray);
                transition: all .3s ease;
                margin-left: 10px;
                cursor: pointer;

                &:hover {
                    color: var(--violet);
                }
            }
        }

        .text {
            font-size: 18px;
            line-height: 140%;
        }
        .interests {
            display: flex;
            flex-wrap: wrap;
            margin-left: -5px;
            margin-right: -5px;

            .item {
                margin: 5px;
                display: flex;
                align-items: center;
                font-size: 18px;
                line-height: 27px;

                div {
                    margin-right: 5px;
                }
            }
        }
    }
}

@media (max-width: 768px) {

    .wrapper {

        .part {

            .label {
                font-size: 12px;
                line-height: 23px;

                button {
                    font-size: 16px;
                    line-height: 16px;
                    margin-left: 5px;
                }
            }

            .text {
                font-size: 16px;
                line-height: 22px;
            }
            .interests {
                .item {
                    font-size: 16px;
                    line-height: 22px;
    
                }
            }
        }
    }
}