.card {
    border-radius: 8px;
    background-color: var(--light_purp_1);
    padding: 8px;
    display: block;

    .main {
        margin-bottom: 5px;
        display: flex;
        align-items: center;

        .avatar {
            width: 45px;
            height: 45px;
            border-radius: 100%;
            overflow: hidden;
            flex: 0 0 auto;
            margin-right: 12px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: flex;
            }
        }
    
        .body {
            
            .name {
                font-size: 18px;
                line-height: 23px;
                color: var(--text);
            }
    
            .loc {
                color: #888888;
                font-size: 15px;
                line-height: 23px;
                padding-left: 20px;
                position: relative;
    
                &:after {
                    position: absolute;
                    width: 18px;
                    height: 18px;
                    background-image: url('../../../../public/assets/icons/pin.svg');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    top: calc(50% - 9px);
                    left: 0;
                    content: '';
                }
            }
        }
    }   

    .balance {
        font-weight: 400;
        font-size: 15px;
        line-height: 23px;
        color: var(--violet);
    }
    
}