.wrapper {
    display: flex;
    padding: 25px 0;
    align-items: flex-start;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);

    .avatar {
        flex: 0 0 auto;
    }

    .body {
        padding-left: 10px;
        width: 100%;

        .head {
            margin-bottom: 5px;
            display: flex;
            align-items: center;
            justify-content: space-between;


            .user {
                div {
                    font-weight: 600;
                }
            }

            .tm {
                display: flex;
                align-items: center;

                .status {

                }

                .label {
                    font-size: 13px;
                    line-height: 140%;
                    color: rgba(53, 53, 53, 0.5);
                }
            }
        }
        .content {
            font-size: 13px;
            line-height: 140%;
            color: rgba(53, 53, 53, 0.85);
            margin-bottom: 5px;
        }

        .action {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .item {
                display: flex;
                .open {
                    color: var(--violet);
                    transition: all .3s ease;
                    cursor: pointer;
                    font-weight: 600;
                    font-size: 13px;
                    line-height: 100%;

                    &:hover {
                        color: var(--purp);
                    }
                }
            }
        }
    }
}