.wrapper {
    display: flex;
    padding: 10px 16px;
    position: relative;
    transition: all .3s ease;
    height: 83px;
    overflow: hidden;

    &:hover {
        background-color: var(--light_purp_1);
    }

    &:after {
        position: absolute;
        top: 50%;
        left: 0;
        height: 0;
        width: 4px;
        transition: all .3s ease;
        content: '';
        background-color: var(--violet);
    }

    .avatar {
        width: 63px;
        height: 63px;
        flex: 0 0 auto;
        border-radius: 8px;
        overflow: hidden;

        img {
            max-width: 63px;
            max-height: 63px;
            display: flex;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    .body {
        display: flex;
        
        .main {
            // padding: 0 30px 0 10px;
            padding: 0 10px;
            width: 100%;
            overflow: hidden;
            .dialog {
                font-weight: 400;
                font-size: 13px;
                line-height: 140%;
                color: rgba(53, 53, 53, 0.85);

                span {
                    font-weight: 500;
                }   
            }
        }

        .ex {
            .item {
                margin-bottom: 5px;
                line-height: 100%;
                font-size: 20px;
                color: var(--violet);
            }
        }
    }
}

.wrapper.active {
    background-color: var(--light_purp_1);

    &:after {
        height: 100%;
        top: 0;
    }
}