.wrapper {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;

    .pr {
        text-align: center;
        max-width: 378px;
        margin: 0 auto;
        font-weight: 500;
        font-size: 15px;
        line-height: 150%;
        a {
            color: var(--violet);
            transition: all .3s ease;

            &:hover {
                color: var(--purp);
            }
        }
    }
}