.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;

    .badge {
        padding: 2px 10px;
        border-radius: 15px;
        background-color: #eaeaea;
        display: flex;  
        align-items: center;


        .label {
            color: var(--violet);
            font-weight: 500;

            span {
                font-weight: 700;
            }
        }

        .info {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 10px;
            cursor: pointer;
        }
    }
}

@media (max-width: 768px) {
    .wrapper {
        top: 45px;
    }
}