.item {
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    border: 2px solid transparent;
    transition: all .3s ease;
    cursor: pointer;
    width: 130px;
    height: 130px;

    // &:hover {
    //     border-color: var(--violet);
    // }
    .icon {
        position: absolute;
        width: 24px;
        height: 24px;
        background-image: url('../../../../public/assets/icons/stream-play-icon.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        top: 6px;
        right: 6px;
    }

    .img {
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: flex;
        }
    }
}