.wrapper {

    .img {
        margin: 0 auto;

        width: 172px;
        height: 172px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            display: flex;
        }
    }
}