.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;

  .label {
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
  }

  .icon {
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}