.wrapper {
    background: #FFFFFF;
    border: 2px solid #FB9E13;
    border-radius: 10px;
    height: 100%;
    
    .in {
        padding: 35px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;

        .title {
            text-align: center;
            color: #DE890B;
            margin-bottom: 22px;
        }

        .icon {
            width: 57px;
            height: 57px;
            border-radius: 100%;
            position: relative;
            margin-bottom: 22px;

            .icon_img {
                width: 100%;
                height: 100%;
                border-radius: 100%;
                background-image: url('../../../public/assets/icons/premium-1-icon.svg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: 30px;
                z-index: 2;
                position: relative;
            }

            &:after {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                content: '';
                background: radial-gradient(53.23% 53.23% at 50% 46.77%, #F4972A 0%, #F3BD0D 100%);
                border-radius: 100%;
                z-index: 1;
            }
        }

        .body {
            margin-bottom: 25px;
            .head {
                font-size: 18px;
                line-height: 23px;
                text-align: center;
                margin-bottom: 8px;
            }

            .text {
                text-align: center;
                color: rgba(53, 53, 53, 0.5);
                font-size: 12px;
                line-height: 140%;
                margin-bottom: 20px;
            }

            .pricing {
                display: flex;
                width: 100%;
                

                .item {
                    width: calc(100% / 3);

                    input {
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: -1;
                        pointer-events: none;
                        touch-action: none;
                    }

                    .label {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        text-align: center;
                        height: 130px;
                        padding: 15px 10px;
                        font-weight: 700;
                        cursor: pointer;

                        .date {
                            margin-bottom: 8px;
                            font-size: 15px;
                                line-height: 22px;
                            span {
                                font-size: 25px;
                                // line-height: 36px;
                                display: block;
                                
                            }
                        }

                        .price {
                            font-size: 15px;
                            line-height: 22px;
                            margin-bottom: 10px;
                        }

                        .ex {
                            font-size: 11px;
                            line-height: 16px;
                        }
                    }

                    .label.top {
                        color: #DE890B;
                        border: 1px solid #EEAF51;
                        border-radius: 10px;
                    }
                }

                
            }
        }
        .action {
            width: 100%;
            display: flex;
            align-items: flex-end;
            flex: 1 0 auto;
        }
    }
}