.badge {
    width: 22px;
    height: 22px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 11px;
    line-height: 11px;
    background: linear-gradient(180deg, #9A58EA 0%, #6F60EC 100%);
}