.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    .body {
        max-width: 365px;
        width: 100%;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .main {
            padding: 30px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            .bg {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: url('../../../../public/assets/images/chat-start-bg.png');
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            }

            .img {
                position: relative;
                z-index: 2;
                width: 180px;
                height: 180px;
                border-radius: 100%;
                overflow: hidden;
                border: 2px solid var(--violet);
                padding: 7px;

                img {
                    border-radius: 100%;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    display: flex;
                }
            }
        }

        .title {
            text-align: center;
            font-weight: 500;
            font-size: 21px;
            line-height: 150%;
            position: relative;
            z-index: 2;
            margin-bottom: 20px;
        }

        .action {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            width: 100%;
            position: relative;
            z-index: 2;

            .item {
                .button {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    cursor: pointer;

                    .label {
                        margin-top: 15px;
                        text-align: center;
                        font-size: 13px;
                        line-height: 140%;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}