.steps {
    position: relative;
    z-index: 2;
    margin-top: -70px;

    .inner {
        min-height: 140px;
        background-color: #fff;
        border-radius: 44px;
        padding: 25px 15px;
        padding-bottom: 0;
    }

    .main {
        position: relative;
        overflow: hidden;

        .line {
            position: absolute;
            height: 2px;
            width: 100%;
            background-color: var(--violet);
            top: calc(50% - 1px);
            left: 0;
        }

        .item {
            background-color: #fff;
        }
    }

    .action {
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateY(50%);
    }
}