.steps {
    position: relative;
    z-index: 2;
    margin-top: -70px;

    .inner {
        min-height: 140px;
        background-color: #fff;
        border-radius: 44px;
        padding: 25px 15px;
        padding-bottom: 0;
    }

    .main {
        position: relative;
        overflow: hidden;

        .line {
            position: absolute;
            height: 2px;
            width: 100%;
            background-color: var(--violet);
            top: calc(50% - 1px);
            left: 0;
        }

        .list {
            display: flex;  
            margin-left: -50px;
            margin-right: -50px;    
            // justify-content: space-between;

            .item {
                width: 100%;
                padding: 0 50px;
            }
        }

    
    }

    .action {
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateY(50%);
    }
}

@media (max-width: 1000px) {
    .steps {
        .main {
            .list {
                margin-left: -25px;
                margin-right: -25px;
                .item {
                    padding: 0 25px;
                }
            }
        }
    }
}

@media (max-width: 768px) {

    .steps {
        

        .inner {
          padding: 15px 10px;
          max-height: 140px;
          min-height: 100px;
        }

        .main {
            
            .list {
                margin-left: -10px;
                margin-right: -10px;

                .item {
                    padding: 0 10px;
                }
            } 
        }
    }
}