.wrapper {
  width: 100%;
  max-width: 990px;
  margin: 0 auto;
  border: 1px solid red;
  .head {
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .part {
      display: flex;
      align-items: center;
      margin-left: -10px;
      margin-right: -10px;
      .item {
        font-size: 18px;
        line-height: 18px;
        margin: 0 10px;
      }
    }
  }
}