.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;    
    padding: 20px;
    overflow: hidden !important;
    position: relative;

    .slider {
        height: 560px;
        width: 560px;
        position: relative;
    }

    .action {
        padding: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 100;
        .item {
            margin: 0 13px;
            transition: all .3s ease;
        }

        .item.active {
            transform: scale(1.2);

            &:first-child {
                filter: drop-shadow(0 0 10px #F46870);
                
            }

            &:last-child {
                filter: drop-shadow(0 0 10px #6862ED);
                // button {
                    
                // }
            }
        }
    }
}

@media (max-width: 768px) {
    .wrapper {
        // padding: 10px 0;
        padding: 0;
        position: relative;
        height: 100%;
        width: 100%;
        // flex: 1 0 auto;
        border: 1px solid red;

        .slider {
            width: 100%;
            height: 100%;
            height: calc((var(--vh, 1vh) * 100) - 60px - 60px);
            
            // .item {
            //     height: 100%;
            // }
        }

        .action {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
        }
    }
}