.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;    
    padding: 20px;
    overflow: hidden !important;
    position: relative;

    .slider {
        height: 560px;
        width: 560px;
        position: relative;
    }

    .action {
        padding: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        
        .item {
            margin: 0 13px;
        }

    }
}