.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;    
    padding: 20px;
    overflow: hidden !important;
    position: relative;

    .slider {
        height: 560px;
        width: 560px;
        position: relative;
    }

    .action {
        padding: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        
        .item {
            margin: 0 13px;
            transition: all .3s ease;

            button {
                position: relative;
                z-index: 100000;
            }
        }

        .item.active {
            
            transform: scale(1.2);

            &:first-child {
                filter: drop-shadow(0 0 10px #F46870);
            }

            &:last-child {
                filter: drop-shadow(0 0 10px #6862ED);
            }
        }
    }
}