.wrapper {
    display: flex;
    // border: 1px solid red;
    padding: 5px 20px;

    .body {
       display: flex;
       align-items: flex-end;

        .message {
            display: flex;
            flex-direction: column;
            position: relative;
            padding-bottom: 20px;

            .bubble {
                padding: 8px 12px;
                border-radius: 15px;
                display: flex;
                align-items: flex-end;
                max-width: 350px;

                .text {
                    font-size: 18px;
                    line-height: 140%;
                }

                .time {
                    line-height: 100%;
                    color: #909093;
                    font-size: 11px;
                    line-height: 125%;
                    margin-left: 15px;
                }


            }

            .media {
                
                
                .body {
                    display: flex;
                    flex-wrap: wrap;


                    .item {
                        width: 130px;
                        height: 130px;
                        overflow: hidden;
                        margin: 0 5px;
                        margin-bottom: 10px;
                        // background-color: var(--light_purp_1);
                        // padding: 4px;
    
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            display: flex;
                        }
                    }
                }
                
                .time {
                    line-height: 100%;
                    color: #909093;
                    font-size: 11px;
                    line-height: 125%;
                    margin-left: 15px;
                    text-align: right;
                    
                }
            }

            .ex {
                text-align: right;
                font-size: 11px;
                line-height: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                position: absolute;
                bottom: 0;
                right: 0;

                .icon {
                    color: var(--violet);
                    line-height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 18px;
                }
            }

            
        }    

        .avatar {

        }

        .avatar.hide {
            opacity: 0;
        }

    }

    .body.me {
        

        .avatar {
            margin-left: 15px;
        }

        .message {
            .bubble {
                background: #F0EBFF;
            }
        }
    }

    .body.you {

        .avatar {
            margin-right: 15px;
        }

        .message {

            .bubble {
                background: #F0F0F0;
            }
        }
    }
}

.wrapper.left {
    justify-content: flex-start;
}

.wrapper.right {
    justify-content: flex-end;
}