.wrapper {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;

    .head {
        
        margin-bottom: 20px;

        .title {
            text-align: center;
            font-weight: 400;
            font-size: 24px;
            line-height: 150%;
            margin-bottom: 30px;
            margin-bottom: 5px;
        }

        .subtitle {
            text-align: center;
            font-size: 18px;
            line-height: 140%;
            text-align: center;
            color: rgba(53, 53, 53, 0.7);
        }
    }

    .body {

        .field {
            margin-bottom: 5px;        
        }
        .ex {
            font-size: 15px;
            line-height: 150%;
            text-align: center;
            color: rgba(53, 53, 53, 0.5);
        }
    }
}