.wrapper {
    background-color: #fff;

    .head {
        text-align: center;
        margin-bottom: 10px;
        font-size: 18px;
        line-height: 140%;
    }
    .list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: -10px;
        margin-right: -10px;
        margin-top: 20px;

        .item {
            margin: 0 10px;
            margin-bottom: 20px;
        }
    }

    .main {
        border-radius: 12px;
        overflow: hidden;
        background-color: #D9D4FF;
        margin: 0 auto;
        margin-bottom: 22px;
        position: relative; 
        display: block;

        &:after {
            content: '';
            display: block;
            padding-top: 100%;
        }

        
        

        .cropped_img {
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                display: flex;
            }
        }
    }
    
    .action {
        
    }
}

@media (max-width: 768px) {

    .wrapper {
        .head {
            margin-top: 20px;
        }
    }
}