.wrapper.active {
    transform: translateY(0);
}

.wrapper {
    z-index: 1000;
    height: 100vh;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: flex-end;
    transform: translateY(100%);
    transition: all .3s ease;

    .in {
        padding: 0 20px;
        min-height: 520px;
        background-color: #fff;
        border: 1px solid red;
    }

    .head {
        padding: 12px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 2px solid var(--light_purp_1);

        .title {
            color: var(--violet);
        }

        .close {

        }
    }

    .main {
        padding: 25px 0;
        
        .body {
            margin-bottom: 25px;
        }

        .action {

            .item {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

    }
}