.ant-slider {
    margin-top: 2px;
    margin-bottom: 2px;
    .ant-slider-rail {
        height: 1px;
        top: calc(50% - 0.5px);
        background-color: var(--light_purp_2);
    }

    .ant-slider-track {
        height: 1px;
        top: calc(50% - 0.5px);
        background-color: var(--violet);
    }

    .ant-slider-handle {
        background-color: var(--violet);
        border-radius: 100%;
        width: 15px;
        height: 15px;
        top: calc(50% - 7.5px);
        transition: all .3s ease;

        &:hover {
            width: 20px;
            height: 20px;
            top: calc(50% - 10px);
        }

        &:after {
            display: none;
        }
        &:before {
            display: none;
        }
    }
}