.ant-select {
    font-size: 15px;
    line-height: 23px;

    .ant-select-selector {
        background: #FFFFFF !important;
        border: 2px solid #DCD0FF !important;
        border-radius: 12px !important;


        .ant-select-selection-placeholder {
            color: #888888;
        }

        .ant-select-selection-overflow {
            .ant-select-selection-overflow-item {
                .ant-select-selection-item {
                    border-radius: 8px;
                    background-color: var(--light_purp_1);
                }
                
            }
        }
        
    }
}
.ant-select.round {
    // font-size: 18px !important;
    // line-height: 150% !important;

    .ant-select-selector {
        height: 50px;
        display: flex;
        align-items: center;
        border-radius: 30px !important;
        font-size: 18px;
        line-height: 150%;
    }
}

.ant-select.custom-icon {
    &:after {
        position: absolute;
        top: calc(50% - (12px / 2));
        right: 10px;
        width: 12px;
        height: 12px;
        content: '';
        background-image: url('../../public/assets/icons/select-down.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        
    }
}

.ant-select-dropdown {
    // height: 300px;
    overflow-y: auto;
}