.ant-select {
    font-size: 15px;
    line-height: 23px;

    .ant-select-selector {
        background: #FFFFFF !important;
        border: 2px solid #F0EBFF !important;
        border-radius: 12px !important;
    }
}

.ant-select-dropdown {
    
}