.ant-select {
    font-size: 15px;
    line-height: 23px;

    .ant-select-selector {
        background: #FFFFFF !important;
        border: 2px solid #DCD0FF !important;
        border-radius: 12px !important;


        .ant-select-selection-placeholder {
            color: #888888;
        }

        .ant-select-selection-overflow {
            .ant-select-selection-overflow-item {
                .ant-select-selection-item {
                    border-radius: 8px;
                    background-color: var(--light_purp_1);
                }
                
            }
        }
        
    }

    
}

.ant-select-dropdown {
    
}