.card {
    min-height: 322px;
    height: 100%;
    border-radius: 12px;
    background-color: #fff;
    overflow: hidden;
    filter: drop-shadow(1px 4px 11px rgba(62, 57, 176, 0.11));


    .badges {
        display: flex;
        position: absolute;
        top: 15px;
        left: 0;
        align-items: center;


        .photo_count {
            min-width: 37px;
            height: 18px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            margin-right: 4px;
            border-radius: 0 8px 8px 0;
            color: var(--violet);
            font-size: 11px;
            line-height: 11px;
    
            svg {
                margin-right: 3px;
            }
    
        }
        .verif {
            width: 18px;
            height: 18px;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            flex: 0 0 auto;
            color: var(--violet);
            font-size: 20px;
            line-height: 20px;
        }

    }
    

    .main {
        height: 235px;

        .img {
            width: 100%;
            height: 100%;
            
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: flex;
            }
        }
        
    }

    .body {

        .action {

            .button {
                height: 32px;
                width: 100%;
                background-color: var(--light_purp_1);
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--violet);
                font-size: 15px;
                line-height: 15px;
                cursor: pointer;
                transition: all .3s ease;

                &:hover {
                    background-color: var(--violet);
                    color: #fff;
                }

                span {
                    margin-right: 4px;
                }
            }
        }
    }

    .info {
        padding: 2px 10px;
        .name {
            font-size: 15px;
            line-height: 23px;
        }   

        .loc {
            font-size: 15px;
            line-height: 23px;
            color: #888888;
        }
    }
}

@media (max-width: 768px) {

    .card {
        min-height: 200px;

        .main {
            height: 140px;
        }

        .body {
            .action {

                .button {
                    height: 20px;
                    span {
                        font-size: 13px;
                        line-height: 13px;
                        display: none;
                       }
                }
               
            }
        }

        .info {
            padding: 2px 5px;

            .name {
                font-size: 12px;
                line-height: 14px;
                margin-bottom: 2px;
            }
            .loc {
                font-size: 10px;
                line-height: 14px;
            }
        }
    }
}