.wrapper {
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    .load {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 0;
    }
}