.wrapper {
    overflow-y: auto;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    overflow-x: hidden;

    .load {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 0;
    }
}