.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    cursor: pointer;
    border-radius: 100%;
    font-size: 25px;
    line-height: 100%;
    transition: all .2s ease;

    &:active {
        transform: scale(0.95);
    }

}

.wrapper.default {
    background: linear-gradient(180deg, #9D58EA 0%, #7260EB 100%);
    
    // &:hover {
    //     box-shadow: 0px 0px 30px 4px var(--violet);
    // }
}

.wrapper.danger {
    background-color: #F64949;

    // &:hover {
    //     box-shadow: 0px 0px 30px 4px var(--red);
    // }
}