.card {
    position: relative;
    width: 155px;
    height: 144px;
    background: #FFFFFF;
    box-shadow: 1px 4px 11px rgba(0, 0, 0, 0.11);
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid transparent;
    overflow: hidden;
    
    // transition: all .3s ease;

    &:hover  {
        border-color: var(--violet);
    }
    .ind {
        position: absolute;
        top: 14px;
        right: 14px;
        width: 16px;
        height: 16px;
        background-image: url('../../public/assets/icons/violet-check.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    .img {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            object-fit: contain;
            display: flex;
        }
    }

    .label {
        text-align: center;
        font-weight: 400;
        font-size: 15px;
        line-height: 120%;
        
    }
}

.card.active {
    border-color: var(--violet);
}

.card.disabled {
    pointer-events: none;
    touch-action: none;
    opacity: .5;
}