.card {
    position: relative;
    width: 155px;
    height: 144px;
    background: #FFFFFF;
    box-shadow: 1px 4px 11px rgba(0, 0, 0, 0.11);
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid transparent;
    overflow: hidden;
    padding: 10px;
    // transition: all .3s ease;

    // &:hover  {
    //     border-color: var(--violet);
    // }

    .ind {
        position: absolute;
        top: 14px;
        right: 14px;
        width: 16px;
        height: 16px;
        background-image: url('../../public/assets/icons/violet-check.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    .body {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        
        .label {
            margin-top: 5px;
        }
    }

    .img {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80px;
        margin: 0 auto;

        img {
            object-fit: contain;
            display: flex;
            width: 100%;
            height: 100%;
        }
    }

    .label {
        text-align: center;
        font-weight: 400;
        font-size: 15px;
        line-height: 120%;
    }
}

.card.active {
    border-color: var(--violet);
}

.card.disabled {
    pointer-events: none;
    touch-action: none;
    opacity: .5;
}

@media (max-width: 768px) {

    .card {
        width: 105px;
        height: 105px;
        border-radius: 16px;

        &:hover {
            border-color: transparent;
        }

        .ind {
            top: 10px;
            right: 10px;
            width: 10px;
            height: 10px;
        }

        .label {
            font-size: 10px;
            line-height: 12px;
        }

        .img {
            width: 50px;
        }
    }

    .card.active {
        border-color: var(--violet) !important;
    }
}