.wrapper {

    font-size: 15px;
    line-height: 150%;
    // display: inline-block;
    display: flex;
    align-items: flex-start;
    overflow: hidden;



   

    .badge {
        overflow: hidden;
        display: flex;
        align-items: center;
        color: var(--text);
        padding-right: 13px;
        position: relative;

        .name {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;

        }
        .age {
            white-space: nowrap;
            //overflow: hidden;
            // text-overflow: ellipsis;
        }

        &:after {
            position: absolute;
            width: 8px;
            height: 8px;
            content: '';
            border-radius: 100%;
            top: calc(50% - 4px);
            right: 0;
            transform: scale(0);
            transition: all .3s ease;
            background-color: var(--green);
        }
    }

}

.wrapper.online {

    .badge {
        &:after {
            transform: scale(1);
        }
    }
}